.comments-container {
  width: 100%;
  max-width: 960px;
}

.comments-card {
  background-color: var(--dsct-color-bg-primary);
  color: var(--dsct-color-font-tertiary);
  border: 1px solid var(--dsct-color-border);
  padding: 25px 20px;
  font-size: 16px;
  border-radius: 12px;
  margin-top: 25px;
}
