.cars-card-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cars-container {
  width: 100%;
  max-width: 746px;
  padding: 25px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cars-container h2 {
  font-size: 20px;
  color: var(--dsct-color-font-secondary);
  margin-bottom: 25px;
}

.comments-card-section {
  background-color: var(--dsct-color-bg-secondary);
  padding: 25px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.comments-card-section h2 {
  font-size: 20px;
  color: var(--dsct-color-font-secondary);
}

@media (min-width: 1200px) {
  .cars-container {
    padding: 25px 0 0 0;
  }

  .cars-container h2 {
    font-size: 32px;
  }

  .comments-card-section h2 {
    font-size: 32px;
  }
}
